body {
    font-family: 'Hi Melody', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: block; /* 컨테이너를 블록 레벨 요소로 변경 */
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
}
.label, .unit, button, input {
    font-size: 1.5em;
    font-family: 'Hi Melody', cursive;
}
input[type="number"] {
    font-size: 1em;
    width: 50%;
}
button {
    display: block;
    margin: 20px auto;
    background-color: #F3DEAF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1em;
}
#resultX, #moldingResult, #cuttingAdvice, #filmAdvice {
    display: none;
}
#myCanvas {

   text-align: center;
 margin-top: 20px;
    display: block; /* 캔버스를 블록 레벨 요소로 변경하여 가로 전체를 차지하도록 함 */
    max-width: 100%;
}
#canvasContainer {
    text-align: center; /* 캔버스 컨테이너를 가운데 정렬 */
}

input[type="number"] {
    font-size: 1em;
    width: 100px; /* 입력칸의 너비를 고정 */
    max-width: 100%; /* 최대 너비를 100%로 설정하여 화면 너비를 초과하지 않도록 함 */
}


